body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  position: relative;
}

.top {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background-image: url(Background.png);
  background-position-y: 60%;
  margin: 0px;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 650px) {
  .top {
    background-position-y: -60px;
    background-size: 210%;
  }
}

.top h1 {
  color: white;
  font-family: "Century Gothic", sans-serif;
  font-size: 50px;
  padding: 0px;
  margin-top: 20px;
  margin-bottom: 5px;
}

@media (max-width: 800px) {
  .top h1 {
    margin-top: 70px;
    font-size: 30px;
  }
}

.top h4 {
  color: white;
  font-family: "Century Gothic", sans-serif;
  font-size: 20px;
  padding: 0px;
  margin-top: 10px;
  margin-bottom: 5px;
  font-weight: 100;
}

@media (max-width: 800px) {
  .top h4 {
    font-size: 10px;
  }
}

.bottom {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 150%;
  background-color: #ffffff; /* purple */
}

.center {
  position: absolute;
  top: 20%;
  left: 50%;
  width: 80%;
  height: 80%;
  background-color: #ffffff; /* red */
  border-radius: 50px;
  transform: translateX(-50%);
  box-shadow: 0px 0px 5px 2px rgb(152, 152, 152);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.header a {
  text-decoration: none;
  color: rgb(162, 162, 162);
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  transition: 0.2s;
}

.header a:hover {
  color: black;
}

.header a.active {
  color: black;
  font-weight: 600;
}

.container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 200px;
  font-family: "Poppins", sans-serif;
}

.conv {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.currency-button {
  display: flex;
  align-items: center;
  border: 2px solid #00b5f1;
  border-radius: 999px; /* full round */
  overflow: hidden;
  background: white;
  height: 30px;
  width: fit-content;
  box-sizing: border-box;
  font-family: sans-serif;
  font-weight: bold;
}

.currency-content {
  display: flex;
  align-items: center;
  padding: 0 10px;
  background: white;
  height: 100%;
  gap: 8px;
  color: #555;
}

.currency-content img {
  width: 20px;
  height: 14px;
  object-fit: cover;
}

.currencychoice {
  background: #00b5f1;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  width: 40px;
  height: 100%;
  color: white;
  font-size: 16px;
  font-weight: bold;
  transition: 0.1s;
}

.currencychoice:hover {
  background: #009cd0;
}
.period {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.period button {
  border: none;
  font-family: "Century Gothic", sans-serif;
  font-weight: bold;
  font-size: 15px;
  border-radius: 999px;
  width: 60px;
  height: 30px;
  background-color: transparent;
  transition: 0.1s;
}

.period button:hover {
  background-color: #00b5f1;
  color: white;
}

.period button:focus {
  background-color: #00b5f1;
  color: white;
}
